@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <body>
        <style>
            .row {
                padding-top: 20px !important;
            }
            .alert-danger {
                --bs-alert-color: red !important;
                font-size:15px;
            }
        </style>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Error Page</h5>
                        <div class="card">
                            <div class="card-body">

                                <div class="row alert alert-danger">
                                    <div class="col-md-12">
                                        There is an error in the system. Please contact the system administrator
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>