@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Hope.infrastructure.DTO.LoanDTO
<html>
    <head>

    </head>
<body>

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Add New Loan</h5>
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="AddNewAccountOpening">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Loan Type</label>
                                        <span class="text-danger">*</span>
                                        <select id="LoanTypeList" class="form-select" asp-for="LoanTypeId">
                                            <option value="">Please Select</option>

                                        </select>
                                        <span asp-validation-for="LoanTypeId" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Client Name</label>
                                        <span class="text-danger">*</span>
                                        <select id="ClientList" class="form-select" asp-for="ClientId">
                                            <option value="">Please Select</option>
                                        </select>
                                        <span asp-validation-for="ClientId" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Loan Amount</label>
                                        <span class="text-danger">*</span>
                                        <input id="txtLoanAmount" type="text" class="form-control" asp-for="LoanAmount" oninput="CalculateLoanSettelment()" />
                                        <span asp-validation-for="LoanAmount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Loan Period (Years)</label>
                                        <span class="text-danger">*</span>
                                        <input id="txtLoanPeriod" type="number" class="form-control" asp-for="LoanPeriod" oninput="CalculateLoanSettelment()" />
                                        <span asp-validation-for="LoanPeriod" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Currency</label>
                                        <span class="text-danger">*</span>
                                        <input type="text" class="form-control" asp-for="Currency" />
                                        <span asp-validation-for="Currency" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Loan Settelment Amount</label>
                                        <span class="text-danger">*</span>
                                        <input id="txtLoanSattelmentAmount" type="text" class="form-control" asp-for="LoanSattelmentAmount" />
                                        <span asp-validation-for="LoanSattelmentAmount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Loan Start Date</label>
                                        <span class="text-danger">*</span>
                                        <input type="date" class="form-control" asp-for="StartDate" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Loan End Date</label>
                                        <span class="text-danger">*</span>
                                        <input type="date" class="form-control" asp-for="EndDate" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Interest Rate %</label>
                                        <span class="text-danger">*</span>
                                        <input id="txtInterestRate" type="text" class="form-control" asp-for="InterestRate" oninput="CalculateRate()" />
                                        <span asp-validation-for="InterestRate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Tax Value %</label>
                                        <span class="text-danger">*</span>
                                        <input id="txtTaxValue" type="text" class="form-control" asp-for="TaxValue" oninput="CalculateRate()" />
                                        <span asp-validation-for="TaxValue" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Total Amount with Interest</label>
                                        <span class="text-danger">*</span>
                                        <input id="txtTotalAmountwithInterest" type="text" class="form-control" asp-for="TotalAmountwithInterest" />
                                        <span asp-validation-for="TotalAmountwithInterest" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function CalculateLoanSettelment()
        {
            var LoanAmount = document.getElementById("txtLoanAmount").value;
            var LoanPeriod = document.getElementById("txtLoanPeriod").value;
            if(LoanAmount != '' && LoanPeriod != '') 
            {
                document.getElementById("txtLoanSattelmentAmount").value = LoanAmount / (12 * LoanPeriod);
            }
        }
        function CalculateRate()
        {
            var InterestRate = parseFloat(document.getElementById("txtInterestRate").value) / 100;
            var TaxValue = parseFloat(document.getElementById("txtTaxValue").value) / 100;

            if (!isNaN(InterestRate) && !isNaN(TaxValue)) 
            {
                var Loan = parseFloat(document.getElementById("txtLoanSattelmentAmount").value);
                var Rate = Loan * InterestRate;
                var Tax = Loan * TaxValue;
                document.getElementById("txtTotalAmountwithInterest").value = Loan + Rate + Tax;
            }
        }
        
    </script>

</body>

    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}
</html>
